*{
  background: black;
color: #c93f3f;
font-size: larger;
margin: 10px;
}

img{
  height: 250px;
  width: 250px;
  object-fit:contain;
  margin: 40px;
}
.box1{
  height: 200px;
  width: 200px;
  background-color: #c93f3f;
}
