@import "tailwindcss";

*{
    
}
h1{
    text-align: center;
    position: absolute;
    top: 35%;
    left: 30%;
    font-weight: 700;
    font-size: 100px;
    text-decoration: underline;
    
}
input {
  /* width: 100%; */
  padding: 8px;
  border: 1px solid #292323;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
}
input::placeholder {
  color: #4b343490;
  font-size: 12px;
  padding: 10px;

}
textarea{
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

