*{
    background-color: black;
}
div{
    height: 100px;
    width: 100px;
    background: #ac8989;
    animation-name: move;
    animation-duration: 5s;
    animation-delay: 2s;
    position: absolute;
    /* animation-iteration-count: infinite; */
    animation-direction: alternate;
    padding:20px
 
}

@keyframes move {
    0%{
        left: 0;
        background: #ee1313;
        top: 10%;
    }
    25%{
       left:30%;
       background-color: #265f88;
       /* top: 30%; */
    }
    50%{
        left: 60%;
        top: 60%;
        background: #34a368;
    }
    75%{
        left: 80%;
        background: #a0711f;
        top: 80%;
    }
    100%{
        left: 100;
        background: #a0a9ac;
        top: 100%;
    }
}