* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* flex-direction: column; */
}
body {
  background: #000;
  color: white;
}
.container{
  display:flex;
  flex-wrap: wrap;
  justify-content:flex-start;
gap: 20px;
padding: 20px;
}

.img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid white;
  padding: 1px;
margin: 10px;  
margin-top: 25px;
}

.media img{
  height: 30px;
  width: 30px;
  object-fit:fill;
  margin: 10px;
}

button{
  background-color: #dadada;
  height: 90px;
  width: 75%;
  border: 1px solid gray;
  /* margin: 5px; */
  margin-bottom: 20px;
  border-radius: 30px;
}
.Card{
  background-color:#423f3f48;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 470px;
  width: 350px;
  margin: 35px;
  border-radius: 15px;
  border: 1px solid white;
}

.stats{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
 justify-content: space-around;
 gap: 20px;
 padding: 30px;
 margin: 10px;
 height: 1px;
 /* background:#423f3f48; */
}

.stat h1{
font-size: 20px;
text-align: center;
}

.role{
 text-align: center;
  margin-left: 45px;
  margin-right: 35px;
}
